<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <li class="list-group-item" *ngFor="let odd of oddNumbers">
          {{ odd }}
        </li> -->
        <div *ngIf="onlyOdd">
          <li class="list-group-item"
          [ngClass]="{odd: even % 2 !== 0}"
          [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
          *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div>
        <!--  ngIf -->
        <!-- <div *ngIf="!onlyOdd">
          <li class="list-group-item"
          [ngClass]="{odd: even % 2 !== 0}"
          [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
          *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div> -->

        <!-- ng-template -->
        <!-- <ng-template [ngIf]="!onlyOdd">
          <div>
            <li class="list-group-item"
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let odd of oddNumbers">
              {{ odd }}
            </li>
          </div>
        </ng-template> -->

        <div *appUnless="onlyOdd">
          <li class="list-group-item"
          [ngClass]="{odd: even % 2 !== 0}"
          [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
          *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>

      <!-- highlights -->
      <p appBasicHighlight>Style me with basic directive!</p>
      <p appBetterHighlight [defaultColor]="'yellow'" highlightColor="red">Style me with basic directive!</p>

      <!-- ngSwitch -->
      <div [ngSwitch]="value">
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchDefault>Value is unknown</p>
      </div>
    </div>
  </div>
</div>